#container {

    background-color: rgba(92, 12, 75, 0.755);
    border-radius: 10px;
    padding: 75px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    color: white;
    box-shadow: 5px 5px 10px rgba(244, 3, 163, 0.644);
    }

    #acertos-erros{
        font: 20px Arial;
    }

body {
font-family: Arial, sans-serif;
margin: 100px;
padding: 0 auto;
background-color: black;
}

h1 {
text-align: center;
margin-bottom: 10px;
font-size: 20px;
}

#pergunta {
font-size: 15px;
margin-bottom: 20px;
text-align: center;
}

input[type="text"] {
width: 470px;
padding: 10px;
margin-bottom: 20px;
border: 1px solid;
border-radius: 5px;
}

button {
display: block;
width: 200px;
padding: 10px;
margin: auto;
background-color: #fb02e2;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #b3009b;
transform: scale(1.1);
}

#resultado {
font-weight: bold;
margin-top: 20px;
text-align: center;
color: red;
}

